# ~/.bashrc_local

# set up virtualenvwrapper
if [ -d ~/.virtualenvs ]; then
    export WORKON_HOME="$HOME/.virtualenvs"
    export VIRTUALENVWRAPPER_PYTHON=python2.7
    export VIRTUALENVWRAPPER_VIRTUALENV=virtualenv-2.7
    source /path/to/virtualenvwrapper.sh
fi

# enable bash completion for django
if [ -d ~/dev/django ]; then
    source ~/dev/django/extras/django_bash_completion
fi

# enable bash completion for homebrew
source /usr/local/Library/Contributions/brew_bash_completion.sh

# needed by node.js
export NODE_PATH="/usr/local/lib/node"

# add bin directory for ruby gems
export PATH="$PATH:${HOME}/.gem/ruby/1.8/bin"

# Load Sencha SDK Tools
if [ -d /Applications/SenchaSDKTools-1.2.3 ]; then
    PATH=/Applications/SenchaSDKTools-1.2.3:$PATH
    PATH=/Applications/SenchaSDKTools-1.2.3/command:$PATH
    PATH=/Applications/SenchaSDKTools-1.2.3/jsbuilder:$PATH
    PATH=/Applications/SenchaSDKTools-1.2.3/appbuilder:$PATH
fi

# vim: syntax=sh
