[user]
	name = Luis Armendariz
	email = luis.armendariz@gmail.com

# http://git.or.cz/gitwiki/Aliases
# http://betterexplained.com/articles/aha-moments-when-learning-git/
# http://mislav.uniqpath.com/2010/07/git-tips/
# http://cheat.errtheblog.com/s/git/
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	oneline = log --pretty=oneline
	la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
	ll = log --oneline --decorate
	wd = diff --word-diff
	ls = ls-files

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
