" ~/.vim/preload.vim
"
" TODO: Configure these flags by using a single assignment. The options would
" be something like ['acp', 'clang_complete', 'neocomplcache', 'neocomplete', 'ycm']
"
" For example:
"   let g:ludwig_completion_engine = 'ycm'
"
" Given that value, we could assign the appropriate values of the following flags
" flags (or change how they're used in ~/.vimrc)
"

" use clang_complete?
let g:ludwig_load_clangcomplete = 0

" use YouCompleteMe?
let g:ludwig_load_ycm = 1

" use neocomplete?
let g:ludwig_load_neocomplete = 0

" use neocomplcache?
let g:ludwig_load_neocomplcache = 0

" use AutoComplPop
let g:ludwig_load_acp = 0

" vim: ft=vim
